<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>v-component</title>
</head>
<body>

	<div id="app">
		<cpn :number1="num1" :number2="num2" @num1change="num1change" @num2change="num2change" ></cpn>
	</div>

	<template id="cpn">
		<div>
			<h2>{{dnumber1}}</h2>
			<h2>{{number1}}</h2>
			<!-- <input type="text" v-model="dnumber1"> -->
			<input type="text" v-model="dnumber1">
			<h2>{{dnumber2}}</h2>
			<h2>{{number2}}</h2>
			<!-- <input type="text" v-model="dnumber2"> -->
			<input type="text" v-model="dnumber2">
		</div>
	</template>
	
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" >
		const cpn = {
			template: '#cpn',
			props: {
				number1: Number,
				number2: Number
			},
			data() {
				return {
					dnumber1: this.number1,
					dnumber2: this.number2
				}
			},
			watch: {
				dnumber1(newValue){
					this.dnumber2 = this.dnumber1 * 100;
					this.$emit('num2change',this.dnumber2);
				},
				dnumber2(newValue){
					this.dnumber1 = this.dnumber2 / 100;
					this.$emit('num1change',this.dnumber1);
				},
			},
			
		}
		const app = new Vue({
			el: '#app',
			data: {
				num1: 1,
				num2: 0
			},
			components: {
				cpn
			},
			methods: {
				num1change(value) {
					this.num1 = parseInt(value);
					
				},
				num2change(value) {
					this.num2 = parseInt(value);
				}
			}
		});
	</script>
</body>
</html>