<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>v-component</title>
</head>
<body>
	<div id="app">
		<cpn></cpn>
		<cpn></cpn>
		<cpn></cpn>
	</div>
	
	<template id="cpn">
		<div>
			<h2>当前计数:{{counter}}</h2>
			
			<button @click="decrement">-</button>
			<button @click="increment">+</button>
		</div>
	</template>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" >
		
		Vue.component('cpn',{
			template: '#cpn',
			data(){
				return {
					counter: 0
				}
			},
			methods: {
				decrement() {
					this.counter --;
				},
				increment() {
					this.counter ++;
				}
			}
		})
		// root组件
		const app = new Vue({
			el: '#app',
			data: {
				message: '你好啊',
				age: 36,
				name: '香蕉'
			},
			components: {
				
			}
		});
	</script>
</body>
</html>